* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.searchInput{
	display: block;
}
#content h1{
	font-size: 18px;
}
#content dt{
	font-weight: bold;
}
#content label{
	width: 50%;
	display: inline-block;
}
#content span{
	width: 50%;
	display: inline-block;
}
a{
	display: block;
}
.linklist{
	margin-bottom: 50px;
}